.button-right {
    text-align: right;
}

table {
    width: 100%;
}

.mat-form-field {
    font-size: 20px;
    width: 100%;
}

.editar {
    color: #1878b0;
}

.borrar {
    color: #e15639;
}

.pointer {
    cursor: pointer;
}